/* Empty. Add your own CSS if you like */
.clearfix {clear: both;}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

.search {
	top: -7px;
}

.extra {
	left: 28px;
	width: 50px;
}

.menu-list {position: absolute; top: 40px; right: 83px;}